.base{
    border: 2px solid rgb(231, 231, 231);
    padding: 50px 25px;
}
.textField{
    padding-bottom: 10px!important;
}
.editBtn{
    display: inline-block;
    border: 1px solid black;
    padding: 9px 25px;
    margin-top: 10px;
    cursor: pointer;
    transition: all 0.3s ease;
    background-color: white;
}
.editBtn:hover{
    background-color: black;
    color: white;
    transform: all 0.3s ease;
}
.icon{
    padding-right: 10px;
}