/* Import the Inter font from Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

/* CSS for the navigation menu */
nav {
  background-color: #fffafa;
  display: flex;
  justify-content: space-between;
  padding: 20px 30px 0px 0px;
  align-items: center;
}
.none{
    display: none!important;

}
.responsiveNone{
    display: none!important;
}

.toggle-label {
  display: none; /* Hide toggle icon by default */
}

ul.list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

ul.list li {
  display: inline-block;
}

ul.list li a.item {
  display: block;
  padding: 10px 20px;
  color: #000000;
  text-decoration: none;
  font-family: "Inter", sans-serif;
  font-size: 20px;
  font-weight: 500;
}

.item i,
.item span {
  display: inline-block;
  vertical-align: middle;
}

.link a {
  text-decoration: none;
  color: #000000;
}

.link a i {
  font-size: 24px;
}

.flex {
  display: flex;
  text-align: center;
  gap: 30px;
  font-size: 13px;
  font-weight: 500;
  font-family: "Inter", sans-serif;
  
}

ul li a.drop-down {
  font-family: "Inter", sans-serif;
  color: #ffffffd3;
  text-decoration: none;
}

.searchInput {
  width: 100px; /* Adjust width as needed */
  margin-top: 5px; /* Adjust margin as needed */
}

/* Initially hide the dropdown content */
.group {
  display: none;
  position: absolute;
  border-radius: 5px;
  background-color: #5b55557b;
  padding: 10px;
  text-align: center;
  z-index: 1;
}

/* Show the dropdown content when hovering over the Categories link */
.list > li:hover .group {
  display: block;
}

/* Style for dropdown items */
.drop-down {
  display: block;
  padding: 5px 0;
  color: #00000075;
  text-decoration: none;
  font-family: "Inter", sans-serif;
}

/* Change background color and add hover effect for dropdown items */
.drop-down:hover {
  position: relative;
}

.drop-down:hover::after {
  content: '';
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px; /* Adjust the height of the line */
  background-color: #fff; /* Color of the line */
}

.men-fasion {
  padding: 20px;
  padding-left: 10px;
}

.men-fasion h2 {
  font-family: "Inter", sans-serif;
  margin: -10px 0 0px 0px;
  font-size: 20px;
  font-weight: 700;
}
.menu{
    display: none;
}
#chk1{
    display: none;   
  }
.searchInput{
    display: flex;
    position: absolute;
    top: 80px;
    width: 100%;
    justify-content: center;
    

    z-index: 6;
    input{
        width: 300px;
        padding: 10px;
        border-radius: 5px;
        border: 1px solid #000;
    
    }
}

/* Responsive styles */
@media (max-width: 1073px) {
    .menu {
      display: block;
      margin: auto 20px;
      margin-right: 10px;
      i{
        font-size: 30px;
      
      }
    }
  
    .nav-left {
      display: none;
    }
  
    #chk1:checked ~ .nav-left {
      display: block;
      
    }
  
    .nav-left ul.list {
      display: block;
      position: absolute;
      width: 100%;
      left: 0;
      top: 70px;
      background-color: #fffafa;
      z-index: 5;
    }
  
    .nav-left ul.list li {
      display: block;
      border-bottom: 1px solid #ddd;
      width: 85%;
      margin: auto;
    }
  
    .nav-left ul.list li a.item {
      padding: 15px;
    }
    .flex a{
        font-size: 0px;
        
    }
    .flex{
        gap: 5%;
        height: 35px;
    }
    .responsiveNone{
        display: block!important;
    }
    .signin{
        display: none;
    }
    
  }