
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

.signup-container {
  display: flex;
  justify-content: center; /* Horizontally center the content */
  align-items: center; /* Vertically center the content */
  height: 100vh; /* Set the height of the container to the full viewport height */
}

.signup-form {
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  max-width: 500px; /* Adjust the max-width value as needed */
  width: 90%; /* Add a width property to ensure the form remains responsive */
  font-family: "Inter", sans-serif;
}

.form-group {
  margin-bottom: 15px;
  position: relative; /* Added position relative */
}

.icon {
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
  color: #5d6d7e; /* Added icon color */
}

.input-section {
  width: calc(100% - 60px); /* Adjusted input width */
  padding: 10px;
  padding-left: 50px; /* Adjusted padding for input */
  margin-top: 5px;
  border: none;
  border-bottom: 1px solid #e6e6e6;
  background: transparent;
}



.form-group input:focus {
  outline: none;
  border-color: #5d6d7e;
}


.error-message {
  color: red;
  margin-top: 10px;
}

.button-signup {
  width: 100%;
  background-color: #010203;
  color: rgb(246, 243, 243);
  border: none;
  border-radius: 5px;
  padding: 10px;
  cursor: pointer;
}

.button-signup:hover {
  background-color: green;
}

/* phoneinput.css */
.input-phonenumber-section {
  position: relative;
}

.input-phonenumber-section input {
  width: calc(100% - 60px);
  padding: 10px;
  border: none;
  border-bottom: 1px solid #e6e6e6;
  background: transparent;
}


.input-phonenumber-section .react-phone-number-input__icon {
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
  color: #007bff; /* Example color */
}

.input-phonenumber-section .react-phone-number-input__input {
  padding-left: 30px; /* Adjust based on the icon size */
}

.input-phonenumber-section .react-phone-number-input__input:focus {
  outline: none;
  border-color: #007bff; /* Example color */
}

.input-phonenumber-section .react-phone-number-input__country-select {
  background-color: transparent;
  border: none;
  padding: 10px;
  color: #333; /* Example color */
}
